* {
    margin: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Futura';
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background-size: 400% 400%;
}

.zaklad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

span {
    text-decoration: underline;
}

